# Dependencies
node_modules
.pnpm-store

# Production build
dist
build

# Environment & IDE
.env
.env.local
.env.*.local
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System & Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
